:root {
    --c-primary-strong-cyan: hsl(172, 67%, 45%);
    --c-neutral-very-dark-cyan: hsl(183, 100%, 15%);
    --c-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
    --c-neutral-grayish-cyan: hsl(184, 14%, 56%);
    --c-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
    --c-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
    --c-neutral-white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Space Mono', monospace;
    font-weight: 700; 
    font-size: 24px;
}

@media screen and (min-width: 925px) {

}

@media (prefers-reduced-motion: no-preference) {
        
}