:root {
    --c-primary-strong-cyan: hsl(172, 67%, 45%);
    --c-hover-strong-cyan:hsl(172, 67%, 65%);
    --c-neutral-very-dark-cyan: hsl(183, 100%, 15%);
    --c-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
    --c-neutral-grayish-cyan: hsl(184, 14%, 56%);
    --c-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
    --c-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
    --c-neutral-white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Space Mono', monospace;
    font-weight: 700; 
    font-size: 1.5rem;
    background-color: var(--c-neutral-light-grayish-cyan);
}

.splitter {
    margin-top:46px;
    width: 100%; 
    max-width:920px;
}

.splitter__logo {
    display:block;
    margin: 0 auto;
    margin-bottom:36px; 
}

.splitter__calculator {
    background-color: var(--c-neutral-white);
    padding: 40px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:100%;
}

.splitter__form {
    flex-basis: 100%;
}

.splitter__formGroup {
    margin-bottom: 36px;
}

.splitter__formGroup::before {
    left:15px;
    top:50%;
}

.formGroup--dollar::before {
    content: url("./images/icon-dollar.svg");
}

.formGroup--people::before {
    content: url("./images/icon-person.svg");
}


.splitter__label {
    margin-bottom: 10px;
}

.splitter__error {
    position:absolute;
    right:0;
    top:0;
}

.splitter__billInput {
    position:relative;
}

.splitter__result {
    border-radius:12px;
    padding: 43px 23px; 
    background-color:var(--c-neutral-very-dark-cyan);
}

/* COMPONENTS */

.label {
    display:block;
    color: var(--c-neutral-dark-grayish-cyan);
    font-size:1rem;
}

.label::first-letter {
    text-transform:uppercase;
}

.formGroup {
    position:relative;
    z-index:1;
}

.formGroup::before {
    position:absolute;
    z-index:1;
}

/* INPUT COMPONENT */

.input::placeholder, .input {
    font-size:1.5rem;
    font-weight: 700;
    text-align: right;
}

.input {
    background-color: var(--c-neutral-very-light-grayish-cyan);
    border:2px solid transparent;
    padding: 10px;
    border-radius:4px;
    color: var(--c-neutral-very-dark-grayish-cyan);
}

.input::placeholder {
    color: var(--c-neutral-light-grayish-cyan);
}
 
.input:is(:hover, :focus) {
    border-color:var(--c-primary-strong-cyan);
}

.input.input--error,
.input:invalid {
    border-color:red;
}

/* ERROR COMPONENT */

.error {
    position:absolute;
    display:inline-block;
    color: red;
    font-weight: 100;
    font-size:0.875rem;
    opacity:0;
    max-width:600px;
}

.error::first-letter {
    text-transform:uppercase;
}

.input.input--error + .error,
.input:invalid + .error 
{
    opacity:1;
}

.error--topLeft {
    top:0;
    left:0;
    transform:translateY(calc(-100% - 5px));
}

.error--topRight {
    top:0;
    left:0;
    transform:translateY(calc(-100% - 5px));
}

.error--bottomLeft {
    bottom:0;
    left:0;
    transform:translateY(calc(100% + 5px));
}

.error--bottomRight {
    bottom:0;
    right:0;
    transform:translateY(calc(100% + 5px));
}

/* RADIO GROUP COMPONENT */
.radioGroup__input {
    display:none;
}

.radioGroup__label {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-neutral-very-dark-cyan);
    color: var(--c-neutral-white);
    font-size:20px;
    border-radius: 6px;
    height:100%;
}

.radioGroup__label:hover, 
.radioGroup__input:focus + .radioGroup__label
{
    background-color: var(--c-hover-strong-cyan);
    color: var(--c-neutral-very-dark-cyan);
}

.radioGroup__input:checked + .radioGroup__label   {
    background-color: var(--c-primary-strong-cyan);
    color: var(--c-neutral-very-dark-grayish-cyan);
}

/* GRID RADIO */
.splitter__gridRadio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.0625rem;
}

.splitter__gridRadioChild {
    flex-basis: 148px;
    flex-grow: 1;
    height:52px;
}

.splitter__price {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.splitter__price:not(:last-child) {
    margin-bottom:30px;
}

.splitter__priceLabelTitle {
    font-size: 16px;
    margin-bottom:8px;
    text-transform: capitalize;
    color: var(--c-neutral-white);
}

.splitter__priceLabelPer {
    display:block;
    font-size: 13px;
    color: var(--c-neutral-dark-grayish-cyan);
}

.splitter__priceLabelPer::before {
    content: "/ ";
}

.splitter__priceNumber { 
    font-size:22px; 
    text-transform:capitalize;
    color:var(--c-primary-strong-cyan);
}

.splitter__priceNumber::before { 
    content:"$";
}

.splitter__button {
    font-size:16px;
    text-transform:uppercase;
    position:relative;
    display:flex; 
    align-items: center;
    justify-content: center;
    z-index:1;
    background-color: var(--c-primary-strong-cyan);
    border-radius:6px;
    height:47px;
    margin-top:30px;
}

.splitter__button::before {
    background-color: var(--c-hover-strong-cyan);
    border-radius: inherit;
    z-index: -1;
    position:absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
}

.splitter__button:is(:hover, :focus)::before {
    opacity: 1;
}

@media screen and (min-width:768px) {
    body {
        overflow-y: hidden;
    }

    .splitter {
        margin: 0 auto;
        margin-top:160px;
    }
}

@media screen and (min-width: 925px) {
    .splitter__form {
       flex-basis: 384px;
    }

    .splitter__result {
        flex-basis:415px;
        height:416px;
    }

    .splitter__logo {
        margin-bottom:80px;
    }

    .splitter__calculator {
        padding: 50px 40px;
        border-radius: 20px;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    .splitter__formGroup {
        margin-bottom: 43px;
    }

    .splitter__gridRadioChild {
        flex-basis: 7.125rem;
        flex-grow: 1;
    }

    .splitter__result {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 58px 38px; 
    }
    
    .splitter__priceLabelPer::before {
        content: "/ ";
    }
    
    .splitter__priceNumber { 
        font-size:55px; 
    }
    
    .splitter__priceNumber::before { 
        content:"$";
    }
}

@media (prefers-reduced-motion: no-preference) {
    .splitter__button::before {
        transition: opacity 0.2s ease-in-out;
    }

    .radioGroup__label {
        transition: background-color 0.2s ease-in-out;
    }

    .radioGroup__label {
        transition: background-color 0.2s ease-in-out;
    }

    .input {
        transition: border-color 0.2s ease-in-out;
    }
}